# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
*.egg
.pytest_cache/

# Логи
*.log

# Базы данных
*.sqlite3
db.sqlite3

# Django
.env
.env.*
*.env
media/
staticfiles/
static/
covers/
posters/

# Виртуальное окружение
venv/
env/
ENV/
.venv

# IDE
.idea/
.vscode/
*.swp

# Системные файлы
.DS_Store
Thumbs.db

# Отчёты и временные файлы
reports/
*.tmp
*.bak